<nav class="navbar border-bottom">
  <div class="container">
    <a class="navbar-brand"><img src="/images/logo-airbnb.png" alt="Airbnb logo" width="100px"></a>
    <form class="d-flex ps-5" role="search">
      {{#if user}}
      <a href="/profile" target="_blank"><button class="btn btn-outline-secondary" type="button">
          <img class="img-fluid rounded-circle" src="{{user.avatar}}" width="20px" alt=""> {{user.name}}
        </button>
      </a>
      <button class="btn btn-outline-secondary ms-2" type="submit"><a href="/auth/logout">Logout</a></button>
      {{else}}
      <a href="/auth/login">
        <button class="btn btn-outline-secondary ms-2" type="submit"><a href="/auth/login">Login</a></button>
      </a>
      {{/if}}
    </form>
  </div>
</nav>