<nav class="navbar border-bottom">
  <div class="container">
    <a class="navbar-brand"><img src="/images/logo-airbnb.png" alt="Airbnb logo" width="100px"></a>
    <form class="d-flex ps-5" role="search">
      <button class="btn btn-outline-secondary" type="button">
        <img class="img-fluid rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg" width="20px"
          alt="profile picture"> Ghislain Genay
      </button>
      <button class="btn btn-outline-secondary ms-2" type="submit">Logout</button>
    </form>
  </div>
</nav>